colorthief==0.2.1
scikit-learn==1.6.1
openai==1.63.2
python-dotenv==1.0.1
easyocr==1.7.2
pymongo==4.11.1
anthropic==0.47.2
tensorflow==2.18.0
torch==2.6.0
torchvision==0.21.0
opencv-python==4.11.0.86
numpy==2.0.2
pandas==2.2.3
matplotlib==3.9.4
pillow==11.1.0
pytesseract==0.3.13
streamlit==1.42.1
transformers==4.49.0
keras==3.8.0
google-cloud-vision==3.10.0
fastapi==0.115.8
uvicorn==0.34.0
